/* Below we find the elements */
footer{
    margin-top: 125px;
}

/* Below we find the class */

.contacts{
    height: 565px;
    background-image: url(img/FooterContactos.png);
    background-size: cover;
    background-position: center;
}

.contacts-shadow{
    background-color: rgba(0,0,0,0.6);
    padding-top: 60px;
}

.contacts-title{
    color: white;
    font-size: 43px;
    font-family: "Poppins Regular";
    text-align: center !important;
}

.bottom{
    height: 565px;
    background-image: url(img/FooterFacebook.png);
    background-size: cover;
    background-position: center;
}

.bottom-shadow{
    background-color: rgba(0,0,0,0.6);
    padding-top: 70px;
}

.bottom-icon img{
    width: 100px;
    height: 100px;
}

.big-spacer{
    background-color: white;
    height: 2px;
    margin-top: 65px;
}

.bottom-text{
    font-family: "Poppins Regular";
    font-size: 29px;
    color: white;
}

.contact-icon{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-align: center;
    word-break: break-all;
}
.bottom-icon{
    width: fit-content;
    text-align: center;

}
.copyright{
    font-family: "Poppins Light";
    font-size: 14px;
    color:white;
    margin-top: 80px !important;
    margin-left: 200px;
}
.contact-text{
    font-family: "Poppins Regular";
    font-size: 23px;
    color: white;
    margin-top: 20px;

}

.whiteSpacer{
    height: 3px;
    width: 70px;
    background-color: white !important;

}

#contact-list{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
}

/* Below we find the parenting links */

.contacts .whiteSpacer{
    margin-top: 60px;
}

.bottom nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 125px !important;
}

.bottom nav a{
 font-family: "Poppins Regular";
 font-size: 15px;
 color: white;
 text-transform: uppercase;
 text-decoration: none;
}

.bottom nav a:hover, 
.bottom nav a:active{
    color: #F99638 !important;
}
.copyright a span{
    font-family: "Poppins Regular";
    font-size: 16px;
    color: white;
}

.copyright a{
    text-decoration: none;
}

.contact-icon img{
    width: 75px;
    height: 85px;
}

