/* Below we find the elements */





/* Below we find the class */

.myShadow{
    height: 100px;
    position: absolute !important;
    z-index: 20 !important;
    width: 100%;
    box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
    top: -100px;
}

.spacer{
    height: 3px;
    width: 70px;
    background-color: #F99638 !important;

}

.title{
    font-family: "Poppins regular";
    font-size: 38px;
    line-height: 1.5em;
}

.text{
    font-family: "popins light";
    font-size: 18px;
    color:#333333;
}

.seeMore1{
    background-image: url(img/buttons_icons/VerMais1.svg);
    width: 194px;
    height: 48px;
    display: inline-block;
    background-size: 100% 100%;
    text-decoration: none;
    font-size: 0.9em;
    font-family: "Poppins Regular";
    color: #333333;
}

.seeMore1:hover{
    background-image: url(img/buttons_icons/VerMais1Hover.svg);
    color: white;
}

.seeMore2{
    background-image: url(img/buttons_icons/VerMais2.svg);
    width: 128px;
    height: 35px;
    display: inline-block;
    background-size: 100% 100%;
    text-decoration: none;
    font-size: 0.8em;
    font-family: "Poppins Regular";
    color: #333333;

}

.seeMore2:hover{
    background-image: url(img/buttons_icons/VerMais2Hover.svg);
    color: white;
}

.myCustomCard{
    width: 350px;
    height: 473px;
}

.border-card{
    border: 1px solid #333333;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 261px;
    max-width: 350px;
    max-height: 261px;
}

.customImg{
    width: 350px;
    height: 230px;
}

.cardTitle{
    width: 356px;
    height: 100px;
}

/*Main*/

/* Below we find the id*/


/* Below we find the parenting links */

.carousel img{
    height: 30vw;
    position:  relative !important;
}

.carousel-indicators button{
    width: 71px !important;
    height: 13px !important;
    background-color: #FFFFFFFF !important;
    opacity: 1 !important;
}

.carousel-indicators button.active{
    background-color: #F99638 !important;
}

.myCustomCard h3{
    font-family: "Poppins Regular";
    font-weight: normal;
    font-size: 25px;
}

.myCustomCard p{
    font-family: "Poppins Light";
    font-size: 18px;
}

.myCustomCard .seeMore2{
    position: relative;
    top: 17px;
}

.border-card .btnSeeMore{
    align-self: flex-end !important;
    width: 100%;
    position: relative;
    top: 1px;
}
.bottom-icon a{
    text-decoration: none;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 25px;
}


